@font-face{
	font-family: "Teko";
	src: url(../fonts/Teko/teko.regular.ttf) format("truetype");
	font-weight: regular;
	font-style: normal;
}
@font-face{
	font-family: "Teko";
	src: url(../fonts/Teko/teko.light.ttf) format("truetype");
	font-weight: lighter;
	font-style: normal;
}
@font-face{
	font-family: "Teko";
	src: url(../fonts/Teko/teko.medium.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: "TiliWeb";
	src: url(../fonts/TitiliumWeb/titilliumweblight.ttf) format("truetype");
	font-weight: light;
	font-style: normal;
}
@font-face{
	font-family: "TiliWeb";
	src: url(../fonts/TitiliumWeb/titilliumweb.ttf) format("truetype");
	font-weight: regular;
	font-style: normal;
}